#game {
    display: flex;
    flex-direction: column;
    align-items: center; /* centre board + bouton */
}


#board{
    display : grid;
    grid-template-columns : repeat(3, 80px);
    grid-template-rows : repeat(3, 80px);
    gap : 3px;

}

.cell{
    border : 1px solid black;
    display : flex;
    border-radius: 6px;
    background-color: #f0f0f0;
    width : 80px;
    height : 80px;
    justify-content : center;
    align-items : center; 
}

#reset {
    margin-top: 20px;
}

.cell.hovered {
    background-color: #cccccc;
}
