#board{
    display : grid;
    grid-template-columns : repeat(3, 100px);
    grid-template-rows : repeat(3, 100px);

}

.cell{
    border : 1px solid black;
    display : flex;
    width : 100px;
    height : 100px;
    justify-content : center;
    align-items : center;
    
}